

.pie {
    height: 500px;
    margin: 150px 0;

    @media all and (max-width: 767px) {
        width: 85%;
        height: 300px;
        margin: 30px auto 0;
    }

    &__title {
        text-align: center;
        color: #584866;
        margin: 0 0 50px;

        @media all and (max-width: 767px) {
            margin: 0 0 10px;
        }
    }

    svg {
        overflow: initial;
    }
}