.table {
    width: 85%;
    margin: 0 auto;
    padding: 0 0 100px;

    @media all and (max-width: 767px) {
        margin: 30px auto 0;
        padding: 0 0 50px;
    }

    &__sort-btn {
        margin: 0 0 0 10px;
        background: none;
        border: 0;
        cursor: pointer;
        vertical-align: sub;
    }

    thead tr th {
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        font-weight: bold;
        width: calc(100%/5);
    }

    tbody {
        color: #584866;

        tr th, tr td {
            font-family: 'Open Sans', sans-serif;
        }
    }

    &__last-row {
        font-weight: bold;
    }
}