@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #FFFFFF;
}

.App {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    &__scroll-up {
        position: fixed;
        bottom: 45px;
        right: 40px;
        cursor: pointer;
        z-index: 10;

        @media all and (max-width: 767px) {
            right: 10px;
        }
    }
}