.actions {
    z-index: 100;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: #E384B9;

    @media all and (max-width: 767px) {
        position: relative;
    }

    &__title {
        margin: 15px 0;
        font-size: 40px;
        color: #FFFFFF;
    }

    &__button {
        min-width: 100px;
        padding: 5px 15px;
        border: 0;
        border-radius: 20px;
        background-color: #FFFFFF;
        font-size: 20px;
        color: #E384B9;
        cursor: pointer;
        transition: all 0.5s ease-in-out;

        &:hover {
            background-color: #F2EBF8;
            color: #E384B9;
        }
    }
}