.actions {
    z-index: 100;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 95px;
    background-color: #F47560;

    @media all and (max-width: 767px) {
        position: relative;
    }

    &__title {
        margin: 10px 0;
        font-size: 23px;
        color: #FFFFFF;
    }

    &__button {
        min-width: 100px;
        padding: 5px 15px;
        border: 0;
        border-radius: 20px;
        background-color: #FFFFFF;
        font-size: 16px;
        color: #d75e49;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
            background-color: #f2ebe7;
            color: #df8777;
        }

        &--fetched {
            padding: 5px 15px;
            color: #FFFFFF;
            cursor: initial;
        }
    }
}