.actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: -150px 0 0 0;

    &__title {
        margin: 10px 0;
        font-size: 40px;
        color: #F47560;
    }

    &__text {
        width: 65%;
        margin: 5px 0;
        text-align: center;
    }

    &__button {
        min-width: 100px;
        margin: 20px 0 0;
        padding: 10px 20px;
        border: 0;
        border-radius: 20px;
        background-color: #F47560;
        font-size: 30px;
        color: #FFFFFF;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
            border: 1px solid #F47560;
            background-color: #FFFFFF;
            color: #F47560;
        }

        &--fetched {
            padding: 5px 15px;
            color: #FFFFFF;
            cursor: initial;
        }
    }
}